{% extends 'base.html' %}

{% block content %}
    <table class="table table-sm">
        <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Brand</th>
            <th>Value</th>
            <th>Remain Value</th>
            <th>Expire Date</th>
            <th>Redeem</th>
        </tr>
        </thead>
        <tbody>


        {% for gc in gift_cards %}
            {% if gc.is_used == False %}
                <tr>
                    <th scope="row">
                        {{ gc.id }}
                    </th>
                    <td>{{ gc.brand }}</td>
                    <td>{{ gc.value }}</td>
                    <td>{{ gc.remain_value }}</td>
                    <td>{{ gc.expire_date }}</td>
                    <td>
                        <form role="form" method="post">
                            <input class="btn btn-sm" type="button" value="redeem">

                        </form>
                    </td>
                </tr>


            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    <p>-----------------------------------------------</p>
    <div id="content" class="container">
        <h3>New Gift Card</h3>
        <form role="form" action="{% url 'gcmanagement' %}" method="post">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6">
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">

        </form>
    </div>


{% endblock %}