{% extends 'base.html' %}

{% block content %}
    <table class="table table-sm">
        <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Order Date</th>
            <th>Order Name</th>
            <th>Merchandiser</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in order %}
            <tr>
                <th scope="row">
                    <a target="_blank" href={{ order_item.mail_link }}> {{ order_item.id }}</a>
                </th>

                <td>{{ order_item.order_date }}</td>
                <td>
                    <a href="/PurchaseRecord/orders/{{ order_item.id }}">
                        {{ order_item.order_name }}
                    </a></td>
                <td>{{ order_item.merchandiser }}</td>
                <td>{{ order_item.order_price }}</td>
                <td>{{ order_item.order_status }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}