{% extends 'base.html' %}
{% block content %}
    <div id="content" class="container">
        <h3>New Order Record</h3>
        <div id="content-main">
            <form role="form" autocomplete="on" action="addRecord/submit/"
                  onsubmit="if(!confirm('Are you going to submit the record?')){return false;}" method="post"
                  id="addRecord">

                {% csrf_token %}
                <div class="form-group">
                    <label for="orderName">Order Name</label>
                    <input type="text" class="form-control" id="orderName" name="orderName">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="orderDate">Order Date</label>
                        <input type="date" class="form-control" id="orderDate" name="orderDate">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="orderPrice">Price</label>
                        <input type="number" step="any" class="form-control" id="orderPrice" name="orderPrice">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gmailLink">Mail Link</label>
                    <input type="url" class="form-control" id="gmailLink" name="gmailLink"
                           placeholder="https://mail.google.com/mail/u/0/#inbox/abc">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="merchandiser">Merchandiser</label>
                        <select class="form-control" id="merchandiser" name="merchandiser">
                            <option selected disabled>---</option>
                            {% for merchandiser in merchandisers %}
                                <option value={{ merchandiser.id }}>{{ merchandiser.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="originalPrice">Original Price</label>
                        <input type="number" step="any" class="form-control" id="originalPrice" name="originalPrice">
                    </div>
                </div>
                <div>
                    <p>Optional Field</p>
                </div>
                <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="itemPrice">Item Price</label>
                        <input type="number" step="any" class="form-control" id="itemPrice" name="itemPrice">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="itemNum">Item Number</label>
                        <input type="number" class="form-control" id="itemNum" name="itemNum">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="payMethod">Pay Method</label>
                        <select class="form-control" id="payMethod" name="payMethod">
                            <option selected value=9>---</option>
                            <option value=1>Gift Card</option>
                            {% for creditcard in creditcards %}
                                <option value={{ creditcard.card_num }}>{{ creditcard.card_name }}</option>
                            {% endfor %}
                            <option value=8>Other</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="deliverAddress">Deliver Address</label>
                        <select class="form-control" id="deliverAddress" name="deliverAddress">
                            <option selected value="">---</option>
                            {% for address in addresses %}
                                <option value={{ address.id }}>{{ address.addr_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cashbackSite">Cash Back Site</label>
                        <select class="form-control" id="cashbackSite" name="cashbackSite">
                            <option selected>---</option>
                            {% for cashback in cashbacks %}
                                <option value={{ cashback.site_name }}>{{ cashback.site_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">

                            <label for="cashbackRate">Cashback Rate</label>
                        <div class="input-group">
                        <input type="number" step="any" class="form-control" id="cashbackRate" name="cashbackRate">
                        <span class="input-group-addon">%</span>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">create record</button>

            </form>
        </div>
    </div>




{% endblock %}